* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* General */

h1 {
    font-size: 50px;
    font-weight: 500;
    color: white;
}

h2 {
    font-size: 26px;
    font-weight: normal;
    color: white;
}

.arrow {
    height: 30px;
    width: 30px;
}

form h3 {
    color: white;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    box-sizing: border-box;
    height: 60px;
    max-width: 450px;
    width: 450px;
    border: 1px solid #8c8c8c;
    padding: 5px 10px;
}

::placeholder {
    font-size: 18px;
}

form button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    height: 60px;
    width: 206px;
    background-color: #f40612;
    font-size: 20px;
    border: none;
    color: white;
    padding: 30px 26px;
    justify-content: space-between;
    cursor: pointer;
}

form input:focus {
    border: 1px solid dodgerblue;
    outline: none;
}


/* Navbar */

nav {
    position: absolute;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px 56px; */
}

/* nav logo */

nav img {
    height: 38px;
    width: 140px;
    position: absolute;
    top: 20px;
    left: 40px;
}

/* Nav button */

.navbar button {
    background-color: #e50914;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    height: 35px;
    width: 100px;
    padding: 7px 17px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 40px;
}


/* Main Background section */


.main-background {
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0, .8)), url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    height: 100vh;
    border-bottom: 8px solid #222222;
}

.content {
    padding: 150px 0;
    color: #fff;
    text-align: center;
    margin: 0px 155px;
}

.content h1 {
    line-height: 55px;
    margin: 0 155px;
    padding: 75px 75px 0;
}

.content h2 {
    margin-top: 13px;
    margin-bottom: 29px;
}


/* Main Background Form */


.content form {
    margin-top: 25px;
}


/* SECTION 1  */


.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px 30px;
    color: white;
    border-bottom: 8px solid #222222;

}

.section1 .text h1 {
    line-height: 60px;
    margin-bottom: 10px;
}

.tv-content,
.text {
    margin-right: 50px;
    margin-left: 50px;
}

.tv-content {
    position: relative;
}

.tv-content img {
    height: 400px;
    width: 570px;
}

video {
    position: absolute;
    top: 84px;
    left: 75px;
    z-index: -1;
    height: 240px;
    width: 430px;
}


/* SECTION2 */


.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 70px 40px;
    color: white;
    position: relative;
    border-bottom: 8px solid #222222;
}

.section2 .text {
    margin-left: 30px;
}

.section2 .text h1 {
    line-height: 50px;
    margin-bottom: 10px;
}

.strangerthings,
.text {
    margin-right: 50px;
}

.strangerthings img {
    height: 370px;
    width: 520px;
}

.downloading {
    display: flex;
    height: 65px;
    width: 300px;
    padding: 8px 12px;
    border: 2px solid #292828;
    border-radius: 12px;
    background-color: black;
    position: absolute;
    top: 280px;
    bottom: 25px;
    left: 165px;
}

.strangerthings .strangerthingsgraphic {
    height: 65px;
    width: 52px;
    margin-right: 25px;
}

.download-text {
    margin-right: 10px;
    font-size: 14px;
}

.download-text p {
    margin-top: 13px;
    font-weight: 500;
    font-size: 15px;
}

.download-text span {
    color: dodgerblue;
}

.strangerthings .downloadicon {
    height: 50px;
    width: 48px;
    margin-left: 50px;
    margin-top: 10px;
}


/* SECTION3 */

.section3 {
    padding-bottom: 40px;
    border-bottom: 8px solid #222222;
}

.section3 .text {
    margin: 15px 0 5px 150px;
    width: 40%;
}

.section3 h1 {
    line-height: 100px;
}


/* SECTION4 KIDS */


.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 30px 70px;
    color: white;
    border-bottom: 8px solid #222222;
}

.section4 .text h1 {
    line-height: 100px;
}

.kids,
.section4.text {
    margin-right: 50px;
}

.kids img {
    height: 350px;
    width: 505px;
}


/* FAQ */


.faq {
    padding: 70px 30px 10px;
    border-bottom: 8px solid #222222;
}

.faq h1 {
    margin-bottom: 40px;
    text-align: center;
}

.questions {
    width: 800px;
    margin: 0 auto;
    font-size: 28px;
}

.question {
    position: relative;
    background-color: #303030;
    color: white;
    margin-bottom: 10px;
}

.question span {
    font-size: 60px;
    font-weight: lighter;
    position: absolute;
    top: -12px;
    right: 20px;
    /* transition: all 0.2s ease; */
}

.question .header {
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.question .answer {
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
}

.question input[type="checkbox"] {
    display: none;
}

.question input[type="checkbox"]:checked~.answer {
    padding: 30px 30px;
    max-height: 600px;
}

.question input[type="checkbox"]:checked~.header span {
    transform: rotate(45deg);
}


/* FAQ form email and Button*/


.faq form {
    margin-top: 70px;
    margin-bottom: 80px;
}


/* Footer */


.footer {
    margin: 0 180px;
    color: #737373;
    padding: 70px 45px 0 45px;
}

.footer p {
    margin-bottom: 30px;
    cursor: pointer;
}

.footer ul {
    display: flex;
}

.footer ul li {
    list-style: none;
    line-height: 35px;
    margin-right: 100px;
    color: #737373;
    font-size: 13px;
}

.footer ul li a {
    text-decoration: none;
    color: #838181;
    font-size: 13px;
    cursor: pointer;
}

.footer ul li a:hover,
.footer p:not(.footer p:last-child):hover {
    text-decoration: underline;
}

.footer p:last-child {
    margin-top: 30px;
    font-size: 13px;
}